@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin btn {
  width: 250px;
  height: 50px;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 100vh;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.background {
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
  margin-top: var(--nav-height);
  background: url(manSnow.jpg);
  background-repeat: no-repeat;
  background-position: center 1vh;
  background-attachment: fixed;
  background-size: auto;
}

.panel {
  position: relative;
  z-index: 0;
  width: 800px;
  height: 500px;
  border: 1px solid red;
}

.col1 {
  @include flex-column();
  z-index: 2;
  width: var(--col-auth-width);
  font-weight: 700;
  background-color: #f79d65bf;
  color: var(--text-color);
  &--left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  &--right {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &__greeting {
    font-size: 2.2rem;
    margin-top: 60px;
  }
  &__text {
    font-size: 1.4rem;
    text-align: center;
  }
  &__btn {
    @include btn();
    margin-bottom: 60px;
    background-color: transparent;
    border: 2px solid var(--text-color);
    &:hover {
      transition-duration: 0.1s;
      background-color: #3a3a3a;
    }
    // &:after {
    //   content: '';
    //   border-radius: 4em;
    //   width: 100%;
    //   height: 100%;
    //   transition: all 0.5s;
    //   box-shadow: 0 0 10px 40px white;
    // }
    &:active {
      transform: scale(1.1);
    }
  }
}

.col2 {
  @include flex-column();
  position: absolute;
  left: 350px;
  width: var(--col-form-width);
  top: 0;
  bottom: 0;
  background-color: rgba(239, 239, 239, 1);

  &__header {
    margin-top: 50px;
    font-size: 2rem;
  }

  &__btn {
    @include btn();
    background-color: #f79d65bf;
    width: 200px;
    margin-bottom: 30px;
  }
}

.form {
  @include flex-column();

  &__input {
    margin: 20px 0 20px 0;
    padding: 10px;
    width: 300px;
    height: 50px;
  }

  &__input::placeholder {
    font-weight: bold;
    color: black;
    text-align: left;
  }
}
