<div class="wrapper">
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__item">Skis</li>
      <li class="menu__item">Snowboard</li>
      <li class="menu__item">Gloves</li>
      <li class="menu__item">Helmet</li>
      <li class="menu__item">Goggles</li>
      <li class="menu__item">All</li>
      <input type="text" class="menu__input" />
      <button class="menu__btn" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </ul>
  </nav>
  <div class="dropdown">
    <select name="demo" id="#">
      <option selected="selected" value="one">Name:A-Z</option>
      <option value="two">Name:Z-A</option>
      <option value="three">Price:Low to high</option>
      <option value="four">Price:High to low</option>
    </select>
  </div>
  <div class="products">
    <div class="products__items" *ngFor="let product of listOfProductsService.products">
      <img src="{{ product.imagePath }}" alt="" class="item item__image" />
      <span class="item item__brand">Brand: {{ product.brandName }}</span>
      <span class="item item__pice">Price: {{ product.price }}$</span>
      <button class="item__btn" type="button">Add to basket</button>
    </div>
  </div>
  <div class="pages">
    <button class="pages__btn pages__btn--left"><i class="fa-solid fa-arrow-right"></i></button>
    <span class="pages__counter">1/10</span>
    <button class="pages__btn pages__btn--right" type="button"><i class="fa-solid fa-arrow-right"></i></button>
  </div>
</div>
