/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --primary-color: rgb(10, 147, 150);
  --secondary-color: rgb(233, 216, 166);
  --first-subsection-color: rgba(202, 103, 2, 0.51);
  --shadow-color: rgb(187, 62, 3);
  --footer-color: rgb(21, 96, 100);

  --text-color: rgb(255, 255, 255);
  --nav-height: 60px;
  --col-auth-width: 350px;
  --col-form-width: 450px;
}
