//size
$main-section-size: 84vh;

// colors
$first-section-color: rgba(216, 168, 119, 1);
$white: rgba(256, 256, 256);
$first-section-color-left: rgba(48, 99, 142, 1);
// $first-section-color-2:

.wrapper {
  position: relative;
  top: 0;
  left: 0;
}
.main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 10px;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 73%);
  overflow: hidden;
  height: 84vh;
  width: 100%;
  margin-top: 100px;
  background-color: var(--secondary-color);
  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 2;
    width: 260px;
    height: 70px;
    margin-left: 190px;
    margin-bottom: 20px;
    transition: 0.5s;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--text-color);
    letter-spacing: 0.15rem;
    box-shadow: -10px 10px var(--shadow-color);
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__img {
    grid-column: 3/4;
    grid-row: 1/5;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 1.3rem 2rem 0 0;
  }

  &__text {
    font-weight: bold;
    margin-left: 170px;
    margin-bottom: 130px;
    font-size: 1.4rem;
    max-width: 260px;
    text-align: center;
    text-transform: uppercase;
    grid-column: 1/4;
    grid-row: 3;
    color: var(--footer-color);
  }
}
.separator {
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  height: 700px;
  background-color: black;
}

.subsection {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 70vh;
  z-index: 1;
  &__img {
    width: 100%;
    max-width: 350px;
    max-height: 400px;
    height: auto;
    margin: 0 30px;
    &--second {
      max-width: 400px;
      margin-left: 450px;
    }
  }
  &__btn {
    position: relative;
    font-size: 2rem;
    padding: 1rem 2.5rem;
    color: $white;
    letter-spacing: 0.25em;
    // font-weight: bold;
    background: transparent;

    &--first {
      margin-top: 70px;
      margin-bottom: 30px;
      &::after,
      &::before {
        transform: skewX(30deg);
      }
      // &::before {
      //   background-color: rgba(48, 99, 142, 1);
      // }
      // &::after {
      //   background-color: rgba(209, 73, 91, 1);
      // }
    }

    &--second {
      margin-top: 180px;
      margin-left: 150px;
      margin-bottom: 30px;
      &::after,
      &::before {
        transform: skewX(-30deg);
      }
      // &::before {
      //   background-color: rgba(148, 82, 74, 1);
      // }
      // &::after {
      //   background-color: rgba(244, 184, 96, 1);
      // }
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -2;
      // transform: skewX(30deg);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &::before {
      top: -1rem;
      left: 0rem;
      background-color: rgba(48, 99, 142, 1);
    }
    &::after {
      top: 1rem;
      left: 8rem;
      background-color: rgba(209, 73, 91, 1);
    }
    &:hover {
      cursor: pointer;
      &::before,
      &::after {
        top: 0;
        transform: skewx(0deg);
      }
      &::after {
        left: 0rem;
      }
      &::before {
        left: 8.75rem;
      }
    }
  }
  &__text {
    // font-weight: bold;
    letter-spacing: 0.15em;
    // color: $white;
    font-size: 1.6rem;

    // margin-right: -100px;
    &--first {
      margin-bottom: 90px;
    }
    &--second {
      margin-bottom: 70px;
    }
  }
}
.subsection--triangle {
  top: -130px;
  left: 0;
  clip-path: polygon(0 0, 100% 34%, 100% 66%, 0 100%);
  background-color: $first-section-color;
}
.subsection--trapeze {
  height: 65vh;
  top: -270px;
  left: 0;
  clip-path: polygon(0 38%, 100% 0, 100% 100%, 0 100%);
  background-color: var(--second-subsection-color);
}
