<div class="wrapper">
  <div class="main">
    <button type="button" class="main__btn">Join us!</button>
    <p class="main__text">Join for free to receive all notifications of promotions</p>
    <img src="../images/snowboarding.png" alt="snowboarding picture" class="main__img" />
    <div class="main--triangle"></div>
  </div>
  <div class="separator"></div>
  <div class="subsection subsection--trangle">
    <button type="button" class="subsection__btn">Skis</button>
    <p class="subsection__text">Check out our new asortiment!</p>
    <img src="" alt="snowboarding picture" class="subsection__img" />
  </div>
  <div class="separator"></div>
  <div class="subsection subsection--trapeze">
    <button type="button" class="subsection__btn">Snowboard</button>
    <p class="subsection__text">Check out our new asortiment!</p>
    <img src="" alt="snowboarding picture" class="subsection__img" />
  </div>
</div>
