//size
$main-section-size: 84vh;
$separator-height: 600px;
$subsection-height: 70vh;

// colors
$main-section-color: rgba(242, 228, 187, 1);
$first-section-color: rgba(216, 168, 119, 1);
$second-section-color: rgba(106, 190, 192, 1);
$btn-left-color: rgba(48, 99, 142, 1);
$btn-right-color: rgba(209, 73, 91, 1);

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, auto);
  gap: 10px;
  z-index: 2;
  width: 100%;
  height: $main-section-size;
  margin-top: 100px;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 73%);
  background-color: $main-section-color;
  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 2;
    width: 260px;
    height: 70px;
    margin-left: 190px;
    margin-bottom: 20px;
    transition: 0.5s;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--white);
    letter-spacing: 0.15rem;
    box-shadow: -10px 10px var(--shadow-color);
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__img {
    grid-column: 3/4;
    grid-row: 1/5;
    width: 100%;
    max-width: 530px;
    height: auto;
    margin: 1.3rem 2rem 0 0;
  }

  &__text {
    font-weight: bold;
    margin-left: 170px;
    margin-bottom: 130px;
    font-size: 1.4rem;
    max-width: 260px;
    text-align: center;
    text-transform: uppercase;
    grid-column: 1/4;
    grid-row: 3;
    color: var(--dark-torquoise);
  }
}
.separator {
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  height: $separator-height;
  background-color: black;
}

.subsection {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  z-index: 1;
  width: 100%;
  height: $subsection-height;

  &--triangle {
    top: -115px;
    left: 0;
    clip-path: polygon(0 0, 100% 34%, 100% 66%, 0 100%);
    background-color: $first-section-color;
  }
  &--trapeze {
    height: 65vh;
    top: -235px;
    left: 0;
    clip-path: polygon(0 38%, 100% 0, 100% 100%, 0 100%);
    background-color: $second-section-color;
  }

  &__img {
    width: 100%;
    max-width: 350px;
    max-height: 400px;
    height: auto;

    &--first {
      margin: 0 30px;
    }
    &--second {
      max-width: 330px;
      margin-right: -150px;
    }
  }
  &__btn {
    position: relative;
    font-size: 2rem;
    padding: 1rem 2.5rem;
    color: var(--white);
    letter-spacing: 0.25em;
    // font-weight: bold;
    background: transparent;

    &--first {
      margin-top: 70px;
      margin-bottom: 30px;
      &::after,
      &::before {
        transform: skewX(30deg);
      }
    }

    &--second {
      margin-top: 180px;
      margin-left: 150px;
      margin-bottom: 30px;
      &::after,
      &::before {
        transform: skewX(-30deg);
      }
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -2;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &::before {
      top: -1rem;
      left: 0rem;
      background-color: $btn-left-color;
    }
    &::after {
      top: 1rem;
      left: 8rem;
      background-color: $btn-right-color;
    }
    &:hover {
      cursor: pointer;
      &::before,
      &::after {
        top: 0;
        transform: skewx(0deg);
      }
      &::after {
        left: 0rem;
      }
      &::before {
        left: 8.75rem;
      }
    }
  }
  &__text {
    // font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 1.6rem;

    // margin-right: -100px;
    &--first {
      margin-bottom: 90px;
    }
    &--second {
      margin-bottom: 70px;
    }
  }
}
