.main {
  position: relative;
  margin-top: 100px;
  height: 70vh;
  width: 100%;
  background-color: var(--secondary-color);
  &__btn {
    width: 70px;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  &--triangle {
    position: absolute;
    background-color: transparent;
    width: 100%;
    bottom: 0;
    right: 0;
    height: 10vh;
    border-bottom: 25vh red solid;
    border-right: 1500px black solid;
  }
}
