<div class="wrapper">
  <div class="main">
    <button type="button" class="main__btn">Join us!</button>
    <img
      src="https://cdn.pixabay.com/photo/2016/03/31/21/10/drawing-1296240_1280.png"
      alt="snowboarding picture"
      class="main__img"
    />
    <p class="main__text">Join for free to receive all notifications of promotions!</p>
  </div>
  <div class="separator"></div>
  <div class="subsection subsection--triangle">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Alpine_skiing_pictogram.svg/2048px-Alpine_skiing_pictogram.svg.png"
      alt="snowboarding picture"
      class="subsection__img subsection__img--first"
    />
    <button type="button" class="subsection__btn subsection__btn--first">Skis</button>
    <p class="subsection__text subsection__text--first">Check out our new asortiment!</p>
  </div>
  <div class="subsection subsection--trapeze">
    <button type="button" class="subsection__btn subsection__btn--second">Snowboard</button>
    <p class="subsection__text subsection__text--second">Check out our new asortiment!</p>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Snowboarding_pictogram.svg/800px-Snowboarding_pictogram.svg.png"
      alt="snowboarding picture"
      class="subsection__img subsection__img--second"
    />
  </div>
</div>
