<div>
  <div>
    <button type="button">Join us!</button>
    <p>Join for free to receive all notifications of promotions</p>
    <img src="" alt="snowboarding picture" />
  </div>
  <div></div>
  <div>
    <button type="button">Skis</button>
    <p>Check out our new asortiment!</p>
    <img src="" alt="snowboarding picture" />
  </div>
  <div></div>
  <div>
    <button type="button">Snowboard</button>
    <p>Check out our new asortiment!</p>
    <img src="" alt="snowboarding picture" />
  </div>
</div>
